    <nav class="navbar navbar-default" >
      <div class="container" id="navbar2">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="tog">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/logo.fw.png" class="logo" alt="logo"></a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right" >
            <li><a href="/">Inicio</a></li>
            <li><a href="/nuestros_cursos">Cursos</a></li>
            <li><a href="/matriculate">Matricúlate</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/users/sign_in" id="botons">Iniciar Sesión</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div id="home_curso">
    <div class="container" >
         <h1><%= @curso.titulo %></h1>
         <h2><%= @curso.subtitulo %></h2>
    </div>
  </div>

  <div id="home9">
    <div class="container" >
      <div class="row" >

        <div class="col-md-6">
          <div id="whitehome" class="shadow">
            <div id="cursohome">
              <h4 id="cursohomeh4">Título del curso de ejemplo</h4>
              <p id="cursohomep">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
            </div>
            <div id="cursohome2">
              <h2 id="cursodivh2">Lecciones</h2>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <a href="" id="botonr2">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div id="whitehome" class="shadow">
            <div id="cursohome">
              <h4 id="cursohomeh4">Título del curso de ejemplo</h4>
              <p id="cursohomep">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
            </div>
            <div id="cursohome2">
              <h2 id="cursodivh2">Lecciones</h2>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <a href="" id="botonr2">Ver mas</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="home16">
    <div class="container" >
      <div class="row" >

        <div class="col-md-6">
          <div id="whitehome" class="shadow">
            <div id="cursohome">
              <h4 id="cursohomeh4">Título del curso de ejemplo</h4>
              <p id="cursohomep">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
            </div>
            <div id="cursohome2">
              <h2 id="cursodivh2">Lecciones</h2>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <a href="" id="botonr2">Ver mas</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div id="whitehome" class="shadow">
            <div id="cursohome">
              <h4 id="cursohomeh4">Título del curso de ejemplo</h4>
              <p id="cursohomep">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam</p>
            </div>
            <div id="cursohome2">
              <h2 id="cursodivh2">Lecciones</h2>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <div class="block">
                <p id="cursodivp2">Titulo de la lección 1</p>
                <p id="cursodivp3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet</p>
              </div>
              <a href="" id="botonr2">Ver mas</a>
            </div>
          </div>
        </div>
      </div>
      <a href="/matriculate" id="botonr9">Apúntate</a>
    </div>
  </div>

  
  <img src="/assets/home2.jpg" class="hiddedesktop">
  <div id="home8">
    <div class="container" >
      <div class="row">
        <div class="col-md-7">
          <h3><%= @home.cuarto_titulo %></h3>
          <p><%= @home.cuarto_subtitulo %></p>
          <a href="/contacto" id="botonr4">Contáctanos</a>
        </div>
        <div class="col-md-5">
        </div>
      </div>
    </div>
  </div>

   <div id="footer">
    <div class="container" >
      <div class="row" >
         <div class="col-md-6" align="left">
          <a href="/"><img src="/assets/logow.fw.png" class="logo" alt="logo"></a>
         </div>
         <div class="col-md-6" align="right">
            <div>
              <a href="/" class="hfootera">Inicio</a>
              <a href="/nuestros_cursos" class="hfootera">Cursos</a>
              <a href="/contacto" class="hfootera">Contacto</a>
            </div>
            <div id="hfooters">
              <a href="/" ><img src="/assets/s1.fw.png" alt="facebook"></a>
              <a href="/" ><img src="/assets/s2.fw.png" alt="twitter"></a>
              <a href="/" ><img src="/assets/s3.fw.png" alt="Instagram"></a>
            </div>
         </div>
      </div>
    </div>
  </div>