    <nav class="navbar navbar-default" >
      <div class="container" id="navbar2">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="tog">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/assets/logo.fw.png" class="logo" alt="logo"></a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right" >
            <li><a href="/">Inicio</a></li>
            <li><a href="/nuestros_cursos">Cursos</a></li>
            <li><a href="/matriculate">Matricúlate</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/users/sign_in" id="botons">Iniciar Sesión</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
  </nav>


   <div id="footer">
    <div class="container" >
      <div class="row" >
         <div class="col-md-6" align="left">
          <a href="/"><img src="/assets/logow.fw.png" class="logo" alt="logo"></a>
         </div>
         <div class="col-md-6" align="right">
            <div>
              <a href="/" class="hfootera">Inicio</a>
              <a href="/nuestros_cursos" class="hfootera">Cursos</a>
              <a href="/contacto" class="hfootera">Contacto</a>
            </div>
            <div id="hfooters">
              <a href="/" ><img src="/assets/s1.fw.png" alt="facebook"></a>
              <a href="/" ><img src="/assets/s2.fw.png" alt="twitter"></a>
              <a href="/" ><img src="/assets/s3.fw.png" alt="Instagram"></a>
            </div>
         </div>
      </div>
    </div>
  </div>